# Test Results Report

## 1. The application is available trough internet

✅ **PASSED** **Version Tested**: MVP

## 2. Control over local storage

✅ **PASSED** **Version Tested**: MVP

## 3. Custom time for study and pause sessions

❌ **FAILED** **Version Tested**: MVP

## 4. Timer control

✅ **PASSED** **Version Tested**: MVP

### 5. App core functionality

❌ **FAILED** **Version Tested**: MVP
